* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  font: 1.2em/1.3em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #fff;
}

h1 {
  font-weight: normal;
  text-align: center;
}

p {
  margin: 0 0 1em 0;
}

.mobile{
  display:none;
}

#main {
  margin-left:4px;
  margin-right:4px;
  margin-top:0;
  margin-bottom:0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  margin-top:-4px;
  background-color:#18a292;
}

header, .setar-bar{
  margin-left:4px;
  margin-right:4px;
}

.setar-bar{
  text-align: center;
  font-size:11pt;
  background-color:#a2c108;
  height:64px;
  margin-top: -4px;
  color:#003d43;
}

.setar-bar{
  padding-top:15px;
  font-weight: bolder;
}

footer,
#main > article,
#main > nav,
#main > aside {
  margin: 4px;
  padding: 1em;
}

#main > article {
  background: #996;
  -webkit-flex: 4 1 0;
  flex: 4 1 0;
  -webkit-order: 2;
  order: 2;
}

#main > nav,
#main > aside {
  background: #663;
  -webkit-flex: 1 6 0;
  flex: 1 6 0;
}

#main > nav {
  -webkit-order: 1;
  order: 1;
}

#main > aside {
  -webkit-order: 3;
  order: 3;
}

header, footer {
 display: block;
 min-height: 80px;
}

footer {
  background: #1d353e;
  text-align:center;
}

@media all and (max-width: 640px) {

  .controls{
    padding-top:0!important;
    margin: 0 auto;
  }
  .mobile{
    display:block;
    margin-top: -30px;
  }  

  .desktop{
    display:none;
  }

  #main, #page {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #main > article, #main > nav, #main > aside {
    -webkit-order: 0;
    order: 0;
  }

  #main > nav, #main > aside, header, footer {
    min-height: 50px;
    
  }

  .setar-bar{
    height:50px;
  }

  .caption{
    display: none;
  }

}

.image-responsive{
  width: 100%;
}

.caption{
  z-index: 10;
  position: absolute;
}

.seta{
  z-index:10;
  position:absolute;
  margin-top:-5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.big_image_box{
  margin-top: -32%;
  right: 23px;
  font-size: 23pt;
  width:390px;
  line-height:30px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left:45px;
  padding-right:45px;
  background: rgba(15, 96, 87, .8);
  color: white;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  text-align:center;
  flex: 1 0 100%;
  order: 2;
  padding-top:50px;
  padding-bottom: 30px;
}

.carousel-seat h4{
  margin-bottom: 0;
}

@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}

h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}

.controls{
  padding-top:150px;
}

.controls a {
  border: 0;
  color: #eee;
  padding: 0.5em 0.5em;
  font-size:3em;
  width:20px;
}

.controls a:hover,
.controls a:focus {
  color: orange;
}

button.accordion {
  background-color: #18a292;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #107065;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel > p{
  padding-top:10px;
  color:black;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; 
}

button.accordion:after {
  content: '\25B2'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\25BC"; 
}

#second_main{
  padding:30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.accordion_wrap{
  width:450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form_wrap{
  width:450px;
  margin: 0 auto;
}

.form_wrap form ul{
  margin: 0 auto;
  padding: 15px;
}

.form_wrap form ul li{
  margin-bottom:20px;
}

.form_header{
  border-radius: 15px 15px 0 0;
  background-color:grey;
  text-align:center;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  background-color: #107065;
}

.form_header div{
  font-size:1.2em;
  font-weight:bolder;
  padding-top: 10px;
}

input[type="text"],  input[type="email"],  textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus, input[type="email"]:focus,  textarea:focus {
  outline: none;
}

input[type="text"],  input[type="email"],  textarea {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus,  textarea:focus{
  border-bottom: solid 2px #107065;
}

.form_wrap form ul li:last-child{
  text-align:center;
}

.form_wrap button{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: #a2c108;
  color: #164b3f;
  font-weight:bolder;
  border: none;
  outline:none;
  margin-top:30px;
} 
.form_wrap button:hover, .form_wrap button:active, .form_wrap button:focus{
  background: #8ba022;
} 

label.error{ 
  float: none; 
  color: red; 
  margin: 0.5em 0 0; 
  vertical-align: top; 
  font-size: 12px;
}
